* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(40, 40, 40);
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  scroll-padding-top: 50px;
}
:root {
  --color: rgb(255, 255, 255);
  --background-color: black;
}
/* heading and hamburger icon design  */

.heading {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
.name {
  margin: 10px;
  color: rgb(0, 0, 0);
}
.hamburger {
  height: 32px;
  width: 34px;
  margin: 10px;
  position: relative;
  border: 1px solid rgb(254, 1, 1);
  border-radius: 5px;
  cursor: pointer;
}
.hamburger span {
  height: 2.5px;
  width: 90%;
  margin: auto;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
.hamburger .ham1 {
  transform: translate(-50%, -9px);
}
.hamburger .ham3 {
  transform: translate(-50%, 6px);
}

.openHam .ham1 {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.openHam .ham3 {
  transform: translate(-50%, -50%) rotate(45deg);
}
.openHam .ham2 {
  height: 0;
  width: 0;
}
/* navbar items design  */

.btn a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 200px;
}
.btn {
  height: 50px;
  width: 90%;
  padding: 10px;
  background-color: #deab38;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  transform: scale(1.1);
  background-color: black;
}

.navMenu li a {
  text-decoration: none;
  color: var(--color);
  font-size: 1.4em;
  font-weight: 400;
}
.navMenu {
  background-color: rgb(91 86 86);
  width: 100vw;
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  position: absolute;
  gap: 22px;
  top: -100%;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.openUl {
  top: 0;
}
.navList:hover {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

/* hero section  */
.heroSec {
  height: 100vh;
  width: 100vw;
  padding-top: 47px;
}
.heroimg {
  height: 220px;
  width: 220px;
  margin: auto;
  margin-top: 20px;
}
.heroimg img {
  height: 100%;
}
.heroText {
  padding: 5px;
  margin: 10px 5px 0px 5px;
}
.heroText h3 {
  padding: 5px;
  font-family: monospace, sans-serif;
  font-size: 20px;
}
.heroText span {
  color: tomato;
}
.textP p {
  padding: 10px;
  font-family: math, sans-serif;
  color: #83f62c;
  display: contents;
  line-height: 12px;
}
.textP span {
  font-size: 20px;
  color: var(--color);
}
.textP {
  margin-top: 5px;
  padding: 5px;
}
/* slider animation  */
.slider {
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
  height: 150px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding-top: 40px;
  padding-bottom: 40px;
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .box {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRune 11s linear infinite;
  animation-delay: calc((11s / var(--quantity)) * (var(--position) - 1));
  transition: all 0.5s;
}
.slider .list .box img {
  width: 90%;
  margin: auto;
}
@keyframes autoRune {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.slider:hover .box {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider .box:hover {
  filter: grayscale(0);
}

/* skill section */
.page2 {
  width: 100vw;
  height: 90vh;
  padding: 3vh 0vh;
}
.page2 div h3 {
  text-align: center;
}

.html {
  width: 80vw;
  margin: auto;
}
.textper {
  display: flex;
  justify-content: space-between;
}
.textper h2 {
  color: cyan;
  padding-top: 10px;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}
.textper h4 {
  padding-top: 10px;
  font-size: 0.8rem;
  font-family: "Courier New", Courier, monospace;
}

.percent {
  overflow: hidden;
  width: 100%;
  height: 10px;
  background-color: #333830;
  position: relative;
}

.percent > span {
  height: 100%;
  background-color: #83f62c;
  width: 100%;
  position: absolute;
  border-radius: 0px 5px 5px 0px;
  opacity: 0;
  animation: skillSlider 6s ease-in-out forwards;
  animation-delay: 2s;
}
.pdot {
  height: 100%;
  width: 10px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
  right: 0;
}

@keyframes skillSlider {
  0% {
    opacity: 1;
    width: 0%;
  }
  75% {
    opacity: 1;
    width: 100%;
  }
  100% {
    width: 20%;
    opacity: 1;
  }
}
@keyframes CSS {
  0% {
    opacity: 1;
    width: 0%;
  }
  75% {
    opacity: 1;
    width: 100%;
  }
  100% {
    width: 10%;
    opacity: 1;
  }
}
@keyframes JavaScript {
  0% {
    opacity: 1;
    width: 0%;
  }
  75% {
    opacity: 1;
    width: 100%;
  }
  100% {
    width: 5%;
    opacity: 1;
  }
}
@keyframes all {
  0% {
    opacity: 1;
    width: 0%;
  }
  75% {
    opacity: 1;
    width: 100%;
  }
  100% {
    width: 3.7%;
    opacity: 1;
  }
}

.CSS > span {
  animation: CSS 6s ease-in-out forwards;
  animation-delay: 2.1s;
}

.JavaScript > span {
  animation: JavaScript 6s ease-in-out forwards;
  animation-delay: 2.2s;
}
.all > span {
  animation: all 6s ease-in-out forwards;
  animation-delay: 2.3s;
}

/* about section */
.page3 {
  height: 80vh;
  width: 100vw;
  background-color: rgb(14 27 40);
}
.about {
  padding-top: 10%;
  width: 90%;
  margin: auto;
  text-align: center;
}
.about p {
  text-align: justify;
  padding-top: 39px;
  font-weight: lighter;
  line-height: 25px;
  line-break: anywhere;
}
/* services section */
.page4 {
  position: relative;
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100vw;
  justify-content: center;
  row-gap: 30px;
}
.page4 h1 {
  text-decoration: underline;
  text-align: center;
  padding: 5px;
  font-weight: 100;
  color: #6588c7;
  font-family: ui-monospace;
}
.card {
  padding: 10px;
  width: 80vw;
  height: 170px;
  background-color: rgb(53 50 50);
  border-radius: 5px;
  box-shadow: #186e75 2px 3px 9px;
  cursor: pointer;
  transition: all 0.1454s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}
.card h3 {
  text-align: center;
  color: #deab38;
}
.card p {
  font-family: serif;
}
/* contact section  */

.page5 {
  width: 100%;
  background-color: rgb(76, 76, 120);
}

.contact h1 {
  text-align: center;
  font-weight: 100;
  font-family: initial;
}
.links a {
  text-decoration: none;
  color: white;
}
.socil:hover {
  transition: all 0.4s ease-in-out;
  color: rgb(0, 0, 0);
}
.links {
  padding: 20px;
  row-gap: 10px;
  display: grid;
  grid-template-columns: 3.7fr 1fr; 
   grid-template-rows: 2fr;
  font-size: 25px;
  font-family: initial;
}

.links span {
  font-size: 15px;
}

/* copyright  */
.page6 {
  width: 100vw;
  height: 41px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: black;
}

@media (min-width: 768px) {
  html,
  body {
    scroll-padding-top: 70px;
  }
  .heading {
    display: none;
  }
  .navbar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    top: 0;
    transition: all 0.5s;
  }
  .navMenu {
    height: fit-content;
    position: relative;
    top: 0;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    padding-left: 10px;
    padding-right: 20px;
    width: 100vw;
    gap: 1px;
  }
  .button button {
    position: absolute;
    right: 20px;
    height: 45px;
    width: 20%;
  }
  .navMenu li {
    padding: 10px;
  }

  .navList:hover {
    border: none;
    border-radius: 0;
    padding: 0;
  }
  .navMenu li:hover {
    background-color: black;
    border-radius: 5px;
  }
  .heroSec {
    padding-top: 20px;
    margin-top: 75px;
  }
  @keyframes all {
    0% {
      opacity: 1;
      width: 0%;
    }
    75% {
      opacity: 1;
      width: 100%;
    }
    100% {
      width: 1.8%;
      opacity: 1;
    }
  }
  .center {
    position: absolute;
    top: 5%;
    left: 40%;
    transform: translate(-5%, -40%);
    text-decoration: none;
  }
  .page4 {
    column-gap: 6%;
    row-gap: 10%;
    padding: 2%;
    width: 80vw;
    height: 90vh;
    grid-template-columns: 2fr 1.7fr;
    grid-template-rows: 1fr 1.3fr;
    margin: auto;
    display: grid;
    padding-top: 9%;
  }
  .card {
    width: auto;
  }
  .card p {
    font-family: system-ui;
    font-weight: lighter;
    font-size: inherit;
  }
  .html {
    width: 74vw;
    margin: auto;
  }
  .mainskills {
    height: auto;
    width: 80vw;
    margin: auto;
  }
  .about {
    padding: 10%;
    width: 82%;
    margin: auto;
    text-align: center;
  }
  .about p {
    line-break: normal;
  }
  .links {
    width: 60vw;
    margin: auto;

}
}

@media (min-width: 1024px){
    *{
        scroll-padding-top: 70px;
    }
    .leptopSec{
        height: 60vh;
        margin: auto;
        width: 95vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .heroSec {
        height: 100vh;
        width: 100vw;
        padding-top: 47px;
    }
    .heroimg {
        height: 321px;
        width: auto;
        margin: auto;
        margin-top: auto;
    }
    .heroText h3 {
        line-height: 55px;
        letter-spacing: -1px;
        font-size: 44px;
    }
    .textP {
        font-size: 25px;
    }
    .page2 {
        background-color: rgb(39 39 46);
        height: 74vh;
    }
    .page2 {
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        display: flex;
        }
        @keyframes all {
            0% {
              opacity: 1;
              width: 0%;
            }
            75% {
              opacity: 1;
              width: 100%;
            }
            100% {
              width: 1.4%;
              opacity: 1;
            }
          }
        .about p {
            text-align: justify;
            padding-top: 39px;
            font-size: 33px;
            line-height: normal;

        }
        .about {
            padding: 0;
            padding-top: 7%;

        }
        .page4 {
        column-gap: 6%;
        row-gap: 1%;
        padding: 2%;
        width: 70vw;
        height: 100vh; 
        grid-template-columns: 2fr 1.7fr;
        grid-template-rows: 1fr 1.3fr;
        margin: auto;
        display: grid;
        padding-top: 9%;
    }
    .card {
        height: 249px;
    }
    .card p {
        font-size: 25px;
    }
    .page5 {
        height: 34vh;
     
    }
    .contact h1 {
        font-size: 59px;
        
    }
    .links a {
        font-size: 30px;
    }
.links span {
    padding-left: 16px;
    font-size: 26px;
}
.page6 {
    height: 79px;
}
.page6 p{
    font-size: 25px;
}
}

@media (min-width: 1440px) {
    .heroimg {
        height: 100%;

    }
    .heroText {
        width: 61%;
    }
    .page2 {
                height: 100vh;
    }
    .mainskills {
        height: 80%;
    }
    .page2 div h3 {
        font-size: xxx-large;

        }
        .mainskills {
                height: 100%;
                width: 70vw; 
        }
        .textper h2 {
            font-size: 2rem;
        }
        .textper h4 {
            font-size: 1.8rem;
        }
        .page4 h1{
            font-size: 60px;
            row-gap: 20%;
            column-gap: 23%;
        }
        .html {
            height: 8%;
            width: 100%;
                }
                .page3{
                  height: 100vh;
                }
                .about{
                  height: 100%;
                }
                .page4{
                  row-gap:5%;
                  column-gap: 8%;
                }
                .about p {
             
                    line-break: anywhere;
                    font-size: 40px;
                }
                .center {
                    top: 5%;
                    left: 46%;
                    transform: translate(12%, -50%);
                    text-decoration: none;
                }
}
@media (min-width: 2560px){

  .heroimg {
    align-content: center;
    width: 50%;
    height: 100%;
}
.heroimg img {
height: 85%;

}
.heroText h3 {
  line-height: normal;
  letter-spacing: normal;
  font-size: 102px;
}
.heroText {
  width: auto;
}
.textP p {
  padding:unset;
  font-family: math, sans-serif;
  color: #83f62c;
  display: unset;
  line-height: normal;
}
.textP {
  font-size: 52px;
}
.button {
  height: 125px;
}
.btn a {
  font-size: 33px;
}
.button button {
  height: 70%;
  width: 10%;
}
.navMenu li a {
  font-size: 3.4em;
}
:root{
  
    --widthh: 200px;
    --heightt: 200px;
    --quantity: 11;
}
.slider {
padding-top: 55px;
  height: 300px;

}
.slider .list {
  width: 100%;
  min-width: calc(var(--width)* var(--quantity));
}
.slider .list .box {
  width: var(--widthh);
  height: var(--heightt);
}
.page2 {
  height: 90vh;
}
.page2 div h3 {
  padding-top: 23px;
  font-size: 100px;
}
.textper h4 {
  font-size: 2rem;
}
.textper h2 {
  font-size: 4rem;
}
.page3 {
  height: 100vh;
}
.about h1{
  font-size: 7rem;
  margin: auto;

}
.about p {
  font-size: 90px;
}
.page4 {

  width: 70vw;
  height: 70vh;

}
.card {
  height: 95%;
}
.page4 h1 {

    padding-top: 100px;
    font-size: 95px;

}
.card h3 {
  font-size: 3rem;

}
.card p {
  font-size: 43px;
}
.contact h1 {
  font-size: 125px;
}
.links a {
  font-size: 95px;
}
.links span {
  font-size: 59px;
}
.page6 {
  height: 130px;
}
.page6 p {
  font-size: 45px;
}

*{
  scroll-padding-top: 125px;
}


}
